{% extends 'base.html' %}
{% block homeactive %} active {% endblock homeactive %}
{% load static %}

{% block title %}
    Home
{% endblock title %}

{% block main_content %}
    {% if posts %}
            {% for post in posts %}
                <article class="media content-section">
                    <img src="{{ post.author.profile.image.url }}" class="rounded-circle"
                    style="width: 75px; height: 75px">
                <div class="media-body">
                    <div class="article-metadata">
                        <a href="{% url 'user_posts' post.author.username %}"
                           class="me-3 article-author">{{ post.author }}</a>
                        <small class="text-danger">{{ post.date_posted|date:'d M Y, h:i:s a' }}</small>
                    </div>
                    <a href="{% url 'post_detail' post.id %}"
                       class="article-title">{{ post.title }}</a>
                    <p class="article-content">{{ post.content }}</p>
                </div>
                </article>
            {% endfor %}

    {% else %}
        <h1>Blog Posts Information not available</h1>
    {% endif %}
{% endblock main_content %}