{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    Profile
{% endblock title %}

{% block main_content %}
    <div class="content-section">
        <div class="media">
            <img src="{{ user.profile.image.url }}" alt="profile_image" class="rounded-circle account-img">
            <div class="media-body">
                <h2 class="account-username">{{ user.username }}</h2>
                <p class="text-primary">{{ user.email }}</p>
            </div>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ user_update|crispy }}
                {{ profile_update|crispy }}
            </fieldset>
            <div class="form-group d-grid">
                <button class="btn btn-outline-info btn-block">Update</button>
            </div>
        </form>
    </div>
{% endblock main_content %}